$content-padding: 50px 18px 18px;
$footer-padding: 20px 0;
$header-height: 50px;
$bot-size: 150px;
$bot-size-collapsed: 34px;
$bot-message-padding: 10px 12px;
$bot-message-border-radius: 7px;
$bot-message-max-width: 340px;
$bot-element-min-height: 40px;
$accordion-max-width: 700px;
$picker-card-max-width: 340px;
$picker-card-max-height: 200px;
$picker-overlay-width: 100px;
$checkbox-size: 17px;
