@import "shared/vars";
@import "shared/colours";
@import "shared/spinner";

@font-face {
  font-family: 'ProxyNova';
  src: local('ProxyNova'), url('./fonts/proxi.woff') format('woff');
  font-weight: 300;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

body {
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'ProxyNova', sans-serif;
  line-height: 20px;
  overflow: hidden;
}

.xa_root-container {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  background-color: #6078EA;
  background: linear-gradient(90deg, #6078EA 0%, #8598F2 100%);
  color: #fff;
}

a, label {
  -webkit-tap-highlight-color: transparent;
}

input[type="text"], input[type="submit"], textarea {
  -webkit-appearance: none;
}

.xa_app {
  &__container {
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    display: flex;
    padding: 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: $header-height;
    overflow: hidden;

    @media (min-width: 710px) {
      height: 80px;
      padding: 10px 100px;
    }
  }

  &__logo {
    width: auto;
    height: 60px;

    @media (min-width: 710px) {
      height: 110px;
    }
  }

  &__content {
    display: flex;
    padding: $content-padding;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    color: $text-main-colour;

    @media (min-width: 710px) {
      padding-top: 100px;
    }
  }

  &__footer {
    display: flex;
    padding: $footer-padding;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
}

.xa_bot {
  &__avatar {
    display: flex;
    width: $bot-size;
    height: $bot-size;
    background-color: $bot-background;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transform-origin: center center;
    transition: .1s;
    overflow: hidden;

    &-enter {
      transform: scale(0);
      opacity: 0;

      & > img {
        transform: translateY(30px) scale(0.9);
        opacity: 0;
      }
    }

    & > img {
      width: 85%;
      height: auto;
      transition-delay: .1s;
      transition-duration: .2s;
      transition-timing-function: ease-in;
      transform-origin: center center;
    }

    &--small {
      width: $bot-size-collapsed;
      height: $bot-size-collapsed;
      min-width: $bot-size-collapsed;
      min-height: $bot-size-collapsed;
    }
  }

  &__message {
    position: relative;
    width: 100%;
    max-width: $bot-message-max-width;
    border-radius: $bot-message-border-radius;
    padding: $bot-message-padding;
    background-color: $bot-background;
    margin-bottom: 10px;
    min-height: $bot-element-min-height;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .3s;
    transform: translateY(-80px);
    opacity: 0;

    &-enter-done {
      transform: translateY(0);
      opacity: 1;
    }

    &--first {
      overflow: visible;
      transition: .2s;

      &::before {
        content: " ";
        position: absolute;
        left: calc(50% - 5px);
        top: -10px;
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-bottom: 10px solid $bot-background;
        border-left: 5px solid transparent;
      }
    }

    &--input {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 0;
      overflow: hidden;
      border: 1px solid #fff;
      box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.1);

      & > input {
        width: 100%;
        border: none;
        padding: 0 10px;
        font-size: 1rem;
        line-height: 20px;
        background-color: transparent;
        color: $text-main-colour;
        font-family: 'ProxyNova', sans-serif;
        font-weight: 300;
        transition: .3s;

        &::placeholder {
          transition: .3s;
        }

        &.invalid {
          color: red;

          &::placeholder {
            color: red;
          }
        }

        &:active, &:focus {
          outline: none;
        }
      }
    }

    &--typing {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;
      justify-content: center;
      transform: translateY(0);
      opacity: 1;
      max-width: 80px;
      position: relative;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $bot-message-max-width;
    border-radius: $bot-message-border-radius;
    padding: $bot-message-padding;
    background-color: $primary;
    margin: 10px 0;
    min-height: $bot-element-min-height;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    user-select: none;
    transition: .2s;
    outline: none;
    border: none;
    transform: translateY(40px);
    opacity: 0;

    &-enter-done {
      transform: translateY(0);
      opacity: 1;
    }

    & > span {
      color: #fff;
      font-family: 'ProxyNova', sans-serif;
      font-size: 1rem;
      font-weight: 300;
    }

    &:active {
      outline: none;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &--transparent {
      background-color: transparent;
      border: 1px solid #fff;
      transition: .2s;

      &:hover,
      &:active {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    margin: 20px 0;
    transform: translateY(20px);
    opacity: 0;

    &-enter-done {
      transform: translateY(0);
      opacity: 1;
    }

    &:active,
    &:visited,
    &:hover {
      color: #fff;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}

.xa_accordion {
  width: 100%;
  max-width: $accordion-max-width;
  border-radius: $bot-message-border-radius;
  padding: 0 10px;
  background-color: $bot-background;
  margin: 10px 0;
  min-height: $bot-element-min-height;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: .4s;
  transform: translateY(-120px);
  opacity: 0;

  &-enter-done {
    transform: translateY(0);
    opacity: 1;
  }

  @media (min-width: 710px) {
    padding: 20px;
  }

  &__head {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }

  &__header {
    margin: 0;
    line-height: 39px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 25px;

    @media (min-width: 710px) {
      font-size: 2rem;
      margin-bottom: 6px;
    }
  }

  &__sub-header {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__chevron {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 0;
    transition: .4s;

    &--point-to-left {
      transform: rotate(-90deg);
    }
  }

  &__content {
    overflow: hidden;

    &--collapsed {
      max-height: 0;
    }
  }
}

.xa_select {
  position: relative;
  padding: 10px 10px 10px 40px;
  display: flex;
  flex-flow: row nowrap;
  border-radius: $bot-message-border-radius;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  cursor: pointer;
  user-select: none;

  &__checkbox {
    position: absolute;
    top: 12px;
    left: 10px;
    width: $checkbox-size;
    height: $checkbox-size;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $checkbox-border;
    padding: 3.5px;
    transition: .3s;
  }

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  & input[type="checkbox"]:checked ~ &__checkbox {
    background-color: $checkbox-checked;
    border-color: $checkbox-checked;
  }
}

.xa_picker {
  display: flex;
  flex-flow: row wrap;
  max-width: $accordion-max-width;
  justify-content: center;

  @media (min-width: 710px) {
    justify-content: space-between;
    padding-top: 10px;
  }

  &__card {
    display: flex;
    flex-flow: row nowrap;
    width: $picker-card-max-width;
    height: $picker-card-max-height;
    background-color: $bot-background;
    border-radius: $bot-message-border-radius;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    transition: .2s;
    transform: translateY(-60px);
    opacity: 0;

    &-enter-done {
      transform: translateY(0);
      opacity: 1;
    }

    &:hover {
      transform: translateY(-2px);
    }

    @media (min-width: 710px) {
      margin-bottom: 20px;
    }

    &--lebensmittel{
      background-image: url("./images/lebensmittel.png");
    }

    &--genussmittel{
      background-image: url("./images/genussmittel.png");
    }

    &--gesundheit{
      background-image: url("./images/gesundheit.png");
    }

    &--informatik{
      background-image: url("./images/informatik.png");
    }

    &--events-unterhaltung{
      background-image: url("./images/events-unterhaltung.png");
    }

    &--personalvermittlung{
      background-image: url("./images/personalvermittlung.png");
    }
  }

  &__content {
    display: flex;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    padding: 10px 5px 10px 10px;
  }

  &__overlay {
    min-width: $picker-overlay-width;
    background: linear-gradient(180deg, rgba(79,172,254,0.3) 0%, rgba(133,152,242,0.3) 100%);
  }

  &__header {
    margin: 0;
    line-height: 29px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5px;
  }

  &__sub-header {
    margin: 0;
    line-height: 22px;
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 7px;
  }

  &__description {
    margin: 0;
    line-height: 15px;
    font-size: 0.9rem;
    font-weight: 300;
  }
}
